*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
body {
    background: rgb(27,101,13);
    background: linear-gradient(278deg, rgb(31, 156, 179) 0%, #E5D6C7 69%);;
    
}

header{
    height: 70px;
    padding: 2px;
    align-items: center;
    background: rgb(27,101,13);
    background: linear-gradient(278deg, rgb(31, 156, 179) 0%, #E5D6C7  69%);
    border-bottom: 0.1px solid rgb(251, 233, 221);
    box-shadow: 0px 5px 20px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu, li, a{
    display: flex;
    text-decoration: none;
    padding: 1px;
    font-size: 20px;
    color: #fff;  
}
.artigo{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.infos{
    padding: 10px;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}
.curiosidade {
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    
}

p, h3{
    display: block;
    flex-wrap: wrap;
    font-size: 20px;
    padding-bottom: 10px;
}

img{
    border-radius: 10px;
    box-shadow: 0px 6px 20px #000; 
} 

.referencias, ul, li{
   
    align-items: center;
    padding: 10px;
    text-align: center;
}

footer{
    text-align: center;
}
